{% extends "base.html" %}
{% from "form_macros.html" import render_field %}
{% block title %} Add Article {% endblock %}
{% block content %}
        <div class="mdl-layout__tab-panel is-active" id="addarticle">
            <h4>Login</h4>
            <form action ="" method="post">
                {{ form.hidden_tag() }}
                <table>
                    {{ render_field(form.username, size=20) }}
                    {{ render_field(form.password, size=40) }}
                    {{ render_field(form.remember_me) }}
                    {{ render_field(form.submit) }}
                </table>
            </form>
        </div>
{% endblock %}
