{% extends "base.html" %}
{% block title %}Tag {{ tag }}{% endblock %}
{% block content %}
        <div class="mdl-layout__tab-panel is-active" id="home">
            <h4>Articles tagged {{ tag }}</h4>
            {% if tag.articles.count() > 0 %}
                {% with articles=tag.articles %}
                    {% include "article_list.html" %}
                {% endwith %}
            {% else %}
                There's no articles with this tag.
            {% endif %}
            </ul>
        </div>
{% endblock %}
